/* attribute-case-sensitivity */
[class='foo' i] {
}

[accept='foo'] {
}

/* display-multi-keyword */
.block {
	display: block;
}

/* no-default-viewport */
.box {
	margin: 10lvi 10vb;
}

/* root-colors */
body {
	color: red;
}
